
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply flex items-center justify-center hover:underline underline-offset-[5px]
  }
}

.markdown > * > a {
  @apply font-semibold underline underline-offset-2 hover:decoration-2 decoration-textAccent hover:text-textAccent transition-colors
}

.remarks > h1,
.remarks > h2,
.remarks > h3,
.remarks > h4,
.remarks > h5,
.remarks > h6 {
  @apply underline decoration-textAccent italic
}

.countryflag-enter {
  opacity: 0;
}

.countryflag-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.countryflag-exit {
  opacity: 1;
}

.countryflag-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.ps-submenu-expand-icon {
  display: flex;
  align-items: center;
}

@media (max-width: 640px) {
  .ps-menu-button {
    padding-left: 8px !important;
    gap: 0;
  }

  .ps-menu-icon {
    margin-right: 0 !important;
  }

  .ps-collapsed {
    width: 60px !important;
    min-width: 60px !important;
  }
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
